@import "./colors.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $primary-inverse-color;
    font-size: 1.2rem;
  }

h3 {
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: $primary-color
}
