@import "styles/colors.scss";

// Sidebar

$sidebar-background-color: $secondary-75;
$sidebar-item-no-active-color: $secondary-inverse-color;
$sidebar-item-active-color: $primary-inverse-color;
$sidebar-item-active-hover-color: $primary-100;